<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="../../assets/css/modules.css">
    <link rel="icon" href="../../assets/img/vical-logo-03.png">
</head>

<body>
    <!-- Pantalla de carga -->
    <div id="loader" class="loader-container">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>

    <!-- Botón de menú (aparece en pantallas menores a 1068px) -->
    <button id="menuToggle" class="menu-btn" onclick="responsiveMenu()">
        <i class="bi bi-list"></i> <!-- Ícono de Bootstrap -->
    </button>

    <div class="sidebar" id="sidebar">
        <div class="text-center mt-5 mb-5">
            <img src="../../assets/img/vical-logo-03.png" alt="vical-logo" width="120px">
        </div>
        <ul>
            <li><a href="home.html">Dashboard</a></li>
            <li><a href="usuarios.html">Usuarios</a></li>
            <li><a href="areas.html" class="active">Áreas</a></li>
            <li><a href="maquinas.html">Máquinas</a></li>
            <li><a href="grupos.html">Grupos</a></li>
            <li><a href="reportar_fallo.html">Reportar fallo/mantenimiento</a></li>
            <button class="btn btn-danger mt-5 text-white" id="closeSession">Cerrar sesión</button>
        </ul>
    </div>

    <div class="content" id="content" style="display: none;">
        <div class="container-fluid p-5">
            <div class="row g-3">
                <div class="col-md-12">
                    <div class="formulario card border-1">
                        <h5 class="card-header">Gestión</h5>
                        <form class="row g-3 card-body p-4">
                            <div class="col-md-12 col-lg-4">
                                <label for="inputEmail4" class="form-label">Nombre</label>
                                <input type="email" class="form-control" id="nombre">
                            </div>
                            <div class="col-md-12 col-lg-4">
                                <label for="inputPassword4" class="form-label">Ubicación (Dentro de planta)</label>
                                <input type="password" class="form-control" id="ubicacion">
                            </div>
                            <div class="col-md-12 col-lg-4">
                                <label for="inputState" class="form-label">Planta</label>
                                <select id="planta" class="form-select">
                                    <option selected>Selecciona...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="col-lg-12">
                                <label for="inputAddress" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="descripcion" placeholder="">
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="btn btn-danger w-100">Guardar</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="btn btn-danger w-100">Limpiar</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 card">
                    <h5 class="card-header">Información</h5>
                    <div class="tabla-de-datos card-body table-responsive">
                        <table class="table table-striped" id="tabla-datos-dinamicos">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Ubicación</th>
                                    <th scope="col">Planta</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- datos dinámicos -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../assets/js/menu.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../utils/init.js"></script>
    <script type="module" src="../../utils/sweetAlert.js"></script>
    <script type="module" src="../../business/usuarios.js"></script>
</body>

</html>